@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
  overflow-x: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
body{
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
    
#bg-pic{
  background-image: url("/lookright.jpg");
  background-attachment: fixed;
  background-position: top 45% center;
  background-size: auto 150%;
}

html.dark {
  --line-color: #ffffff30;
}

#intro-background{
    background: radial-gradient(circle, #30012800 0%, #30012800 10%,rgba(255, 226, 255, 0.254) 35%, rgba(255, 226, 255, 0.395) 90%);
}

:is(.dark) #intro-background{
  background:radial-gradient(circle, #30012800 0%,#36012d83 55%,#300128bd 95%);
}

@media (min-width: 832px){
  #intro-background{
    left: auto;  }
}

@media (max-height:814px) and (max-width: 400px){
  #intro{
    transform: translateY(10vh);
  }
}